.card-profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  background-color: rgb(40, 39, 39);
  display: flex;
}

.album {
  width: 240px;
  height: 240px;
  list-style-type: none;
  margin-left: 2px;
  margin-top: 20px;
}
.album__header {
  display: flex;
  align-items: center;
}

.album__name {
  top: 15px;
  background-color: aliceblue;
  padding: 2px 12px;
  color: #040404;
  border-radius: 4px;
  font-size: 15px;
}

.album__image {
  width: 100%;
  border-radius: 19px;
  border: 1px solid;
  color: rgba(0, 0, 0, 0.3);
}
