.album__profile {
  display: flex;
  flex-wrap: wrap;
}

.album__card {
  width: 150px;
  list-style-type: none;
  margin-left: 20px;
  margin-top: 20px;
}

.album__description {
  display: flex;
}

.album__name {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  top: 15px;
  background-color: transparent;
  padding: 2px 12px;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 10px;
}

.album__image {
  width: 100%;
  border-radius: 19px;
  border: 1px solid;
  color: rgba(0, 0, 0, 0.3);
}
