.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: -40px;
  right: -10px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal__content {
  background-color: rgb(40 39 39);
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  color: #fff;
}

/* delete modal*/
.modal__content_container {
  max-width: 670px;
  max-height: 280px;
  padding-bottom: 60px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  margin-bottom: 8px;
  margin: 0;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.modal__input {
  display: block;
  width: 400px;
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 24px;
  border-radius: 5px;
  margin-top: 5px;
}

.modal__input_error {
  border: none;
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.modal__legend {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

.modal__submit {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 24px;
  width: 124px;
  height: 36px;
  background-color: #000000;
  border: 1px;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
}

.modal__error {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: red;
  margin-top: 4px;
  font-size: 12px;
  position: absolute;
  margin-top: -25px;
}

.modal__error_weather {
  margin-top: -20px;
}
