@import url(../../vendor/fonts.css);

.page {
  background-color: rgb(40, 39, 39);
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
